bin/disaster.dll
bin/disaster.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/disaster.csproj.FileListAbsolute.txt
obj/Debug/disaster.dll
obj/Debug/disaster.pdb
obj/Debug/disaster.csprojResolveAssemblyReference.cache
