bin/disaster.dll
bin/disaster.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/disaster.csproj.FileListAbsolute.txt
obj/Debug/disaster.dll
obj/Debug/disaster.pdb
obj/Debug/disaster.csprojResolveAssemblyReference.cache
obj/*
obj.*
obj/*
obj/*
bin/AttributeRouting.Web.Mvc.xml
bin/AttributeRouting.Web.xml
bin/AttributeRouting.xml
bin/REST_API.dll
bin/REST_API.pdb
bin/WebActivator.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/Models.Model1.cs.dll
obj/Debug/TempPE/Models.Model1.Designer.cs.dll
bin/REST_API.dll
bin/REST_API.pdb
bin/REST_API.dll
bin/REST_API.dll
bin/REST_API.pdb
obj/Debug/edmxResourcesToEmbed/Models/Model1.csdl
obj/Debug/edmxResourcesToEmbed/Models/Model1.msl
obj/Debug/edmxResourcesToEmbed/Models/Model1.ssdl
bin/REST_API.dll
bin/REST_API.pdb
